In [2]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [3]:
user = 'admin'
password = 'isba4715'
host = 'isba-dev-01.cjwugys6yj0u.us-east-1.rds.amazonaws.com'
port_number = '3306'
database_name = 'HPolProject'
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port_number}/{database_name}')

In [11]:
#What is the total amount of fully dual eligible, partially, and not dually eligible? Make sure to make it the most recent (2022).
#We want to know whic
sql_query = """
SELECT 
	f.state,
    f.countenrolled AS Fully,
    p.countenrolled AS Partial,
    n.countenrolled AS Non
FROM 
    FullDualEligibility f
JOIN PartialDualEligibility p 
	ON f.state = p.state
JOIN NotDuallyEligible n 
	ON f.state = n.state 
WHERE 
    f.state IN (SELECT state FROM PartialDualEligibility)
    AND f.state IN (SELECT state FROM NotDuallyEligible)
    AND f.month > '2021-12-31'
GROUP BY 
    f.state;
"""

df = pd.read_sql_query(sql_query, engine)

df

#Insight: We have found that there is still substantial amount of people that are still in all categories
#Recommendation: Maintain or make policies in which could maintain this much people as there are adverse consequences to the complications of Medicare and Medicaid

                   state      Fully  Partial         Non
0                Alabama     92,228  139,986     920,630
1                 Alaska     21,174    1,133     141,377
2                Arizona    231,172   56,286   1,847,624
3               Arkansas     87,432   66,162   1,022,638
4           North Dakota     14,307    2,550      59,028
5               Oklahoma    101,907   30,479     704,139
6             New Jersey    242,154       23   1,520,614
7   District of Columbia     27,763   11,930     147,064
8          Massachusetts    352,863   34,296   1,514,411
9               Colorado    103,124   40,491   1,299,061
10               Montana     23,740    8,522     183,615
11            California  1,657,826   27,901  13,520,590
12            New Mexico     63,875   60,534     762,801
13              New York    974,849  195,554   5,439,167
14                  Iowa     77,833   22,643     584,228
15                Hawaii     49,598    6,370     327,559
16           Mississippi     82,436   83,997     625,064
17        North Carolina    266,420   82,422   1,769,603
18               Georgia    162,381  238,203   1,742,448
19               Florida    554,498  436,175   3,756,847
20                 Idaho     32,324   21,745     288,503
21                Nevada     38,276   51,660     593,604
22              Michigan    317,884   41,819   2,142,573
23              Nebraska     37,317    6,463     208,084
24              Maryland    109,796   65,859   1,133,740
25               Indiana    186,078   64,604   1,236,280
26          Pennsylvania    448,061  103,988   2,303,012
27             Louisiana    151,529  123,947   1,209,438
28             Minnesota    135,198   13,448     979,913
29         New Hampshire     25,040   12,366     180,593
30                Kansas     48,144   28,162     375,432
31              Delaware     14,682   16,013     216,804
32           Connecticut     72,503  140,167     731,429
33              Illinois    376,879   47,924   2,903,563
34                  Ohio    251,389  129,007   2,626,532
35              Kentucky    126,863   90,970   1,256,897
36                Oregon    109,239   63,195   1,086,248
37              Missouri    172,931   36,957     875,311
38                 Maine     59,042   40,516     195,689

In [13]:
#what then is the portion of people within the full eligiblity or partial elgibiility that are within identified major eligible groups.
    #Particularly what is it like in Washington
sql_query1 = """
WITH statematch AS (
SELECT 
    state,
    SUM(CASE WHEN majoreligibilitygroup = 'Adult' THEN counteverenrolled ELSE NULL END) AS Adult,
    SUM(CASE WHEN majoreligibilitygroup = 'Adult expansion group' THEN counteverenrolled ELSE NULL END) AS Adult_expansion_group,
    SUM(CASE WHEN majoreligibilitygroup = 'COVID newly-eligible' THEN counteverenrolled ELSE NULL END) AS COVID_Eligible,
    SUM(CASE WHEN majoreligibilitygroup = 'Children' THEN counteverenrolled ELSE NULL END) AS Children,
    SUM(CASE WHEN majoreligibilitygroup = 'Aged' THEN counteverenrolled ELSE NULL END) AS Aged,
    SUM(CASE WHEN majoreligibilitygroup = 'Persons with disabilities' THEN counteverenrolled ELSE NULL END) AS Disabled,
    SUM(CASE WHEN majoreligibilitygroup = 'Unknown' THEN counteverenrolled ELSE NULL END) AS Unknown
FROM MajorEligibilityGroupYr
WHERE `year` <2022
GROUP BY 
    state     
)
SELECT 
    s.state,
    s.Adult,
    s.Adult_expansion_group,
    s.COVID_Eligible,
    s.Children,
    s.Disabled,
    s.Unknown,
    p.countenrolled AS Partial,
    f.countenrolled AS Fully
FROM 
    statematch s
JOIN PartialDualEligibility p 
	ON s.state = p.state
JOIN FullDualEligibility f 
	ON s.state = f.state
GROUP BY 
	s.state;
"""


sql_query2 = """
WITH statematch AS (
SELECT 
    state,
    SUM(CASE WHEN majoreligibilitygroup = 'Adult' THEN counteverenrolled ELSE NULL END) AS Adult,
    SUM(CASE WHEN majoreligibilitygroup = 'Adult expansion group' THEN counteverenrolled ELSE NULL END) AS Adult_expansion_group,
    SUM(CASE WHEN majoreligibilitygroup = 'COVID newly-eligible' THEN counteverenrolled ELSE NULL END) AS COVID_Eligible,
    SUM(CASE WHEN majoreligibilitygroup = 'Children' THEN counteverenrolled ELSE NULL END) AS Children,
    SUM(CASE WHEN majoreligibilitygroup = 'Persons with disabilities' THEN counteverenrolled ELSE NULL END) AS Disabled,
    SUM(CASE WHEN majoreligibilitygroup = 'Unknown' THEN counteverenrolled ELSE NULL END) AS Unknown
FROM MajorEligibilityGroupYr
WHERE `year` <2022
GROUP BY 
    state     
)
SELECT 
    s.state,
    s.Adult,
    s.Adult_expansion_group,
    s.COVID_Eligible,
    s.Children,
    s.Disabled,
    s.Unknown,
    p.countenrolled AS Partial,
    f.countenrolled AS Fully
FROM 
    statematch s
JOIN PartialDualEligibility p 
	ON s.state = p.state
JOIN FullDualEligibility f 
	ON s.state = f.state
WHERE s.state = 'Washington'
GROUP BY 
	s.state;
"""


df = pd.read_sql_query(sql_query2, engine)

df

OperationalError: (pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query ([Errno 110] Connection timed out)')
[SQL:
WITH statematch AS (
SELECT
    state,
    SUM(CASE WHEN majoreligibilitygroup = 'Adult' THEN counteverenrolled ELSE NULL END) AS Adult,
    SUM(CASE WHEN majoreligibilitygroup = 'Adult expansion group' THEN counteverenrolled ELSE NULL END) AS Adult_expansion_group,
    SUM(CASE WHEN majoreligibilitygroup = 'COVID newly-eligible' THEN counteverenrolled ELSE NULL END) AS COVID_Eligible,
    SUM(CASE WHEN majoreligibilitygroup = 'Children' THEN counteverenrolled ELSE NULL END) AS Children,
    SUM(CASE WHEN majoreligibilitygroup = 'Persons with disabilities' THEN counteverenrolled ELSE NULL END) AS Disabled,
    SUM(CASE WHEN majoreligibilitygroup = 'Unknown' THEN counteverenrolled ELSE NULL END) AS Unknown
FROM MajorEligibilityGroupYr
WHERE `year` <2022
GROUP BY
    state
)
SELECT
    s.state,
    s.Adult,
    s.Adult_expansion_group,
    s.COVID_Eligible,
    s.Children,
    s.Disabled,
    s.Unknown,
    p.countenrolled AS Partial,
    f.countenrolled AS Fully
FROM
    statematch s
JOIN PartialDualEligibility p
	ON s.state = p.state
JOIN FullDualEligibility f
	ON s.state = f.state
WHERE s.state = 'Washington'
GROUP BY
	s.state;
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
#Insight: It seems that washington does not have anyone under the partial or fully eligible category within the major eligibile groups
#Recommendation: To remain that way to reduce potential complications of eligibility